<!-- runs nmea_serial_driver and navsat_transform_node -->
<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="baud" default="9600"/>

    <rosparam command="load" file="$(find goat_launch)/params/gps.yaml"/>

    <!-- not required, could be simulating -->
    <node name="nmea_serial_driver" pkg="nmea_navsat_driver"
          type="nmea_serial_driver" output="screen" clear_params="true">
          <param name="port" value="$(arg port)"/>
          <param name="baud" value="$(arg baud)"/>
          <remap from="fix" to="gps/fix"/>
    </node>

    <node name="navsat_transform_node" pkg="robot_localization"
          type="navsat_transform_node" output="screen" required="true"
          clear_params="true">
          <remap from="odometry/gps" to="gps/odometry"/>
          <remap from="imu/data" to="imu/data_filtered"/>
    </node>
</launch>
