<launch>
    <node name="launchGPS" pkg="goat_launch" type="launchGPS.sh"
          output="screen" respawn="true"/>

    <node name="gpsd_client" pkg="gpsd_client"
          type="gpsd_client" output="screen" clear_params="true"
          respawn="true">
          <param name="port" value="4000"/>
	  <remap from="fix" to="gps/fix"/>
    </node>

    <node name="navsat_transform_node" pkg="robot_localization"
          type="navsat_transform_node" output="screen" respawn="true"
          clear_params="true">
          <remap from="odometry/gps" to="gps/odometry"/>
          <remap from="imu/data" to="imu/data_filtered"/>
    </node>
</launch>
