<launch>
    <include file="$(find goat_launch)/launch/state.launch"/>
    <include file="$(find goat_launch)/launch/localization_imu_encoders.launch"/>
    <include file="$(find goat_launch)/launch/cartographer.launch"/>
    <include file="$(find goat_launch)/launch/teleop_ps4.launch"/>
    <include file="$(find goat_launch)/launch/move_base.launch"/>
    <include file="$(find goat_launch)/launch/make_goal.launch"/>
    <include file="$(find goat_launch)/launch/imu.launch"/>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <node name="cmd_vel_selector_node" pkg="cmd_vel_selector"
          type="cmd_vel_selector_node" output="screen" clear_params="true"/>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
          type="cartographer_occupancy_grid_node" output="screen" clear_params="true"/>
</launch>
