<!-- runs joint_ and robot_state_publisher with
     encoder data and URDF from goat_description -->
<launch>
    <arg name="use_gui" default="false"/>

    <param name="robot_description"
           textfile="$(find goat_description)/robots/goat.urdf"/>

    <rosparam command="load" file="$(find goat_launch)/params/state.yaml"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher"
          type="joint_state_publisher" output="screen" clear_params="true">
          <rosparam param="use_gui" subst_value="True">$(arg use_gui)</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" output="screen" clear_params="true"/>
</launch>
