<!-- launches serial_node, joy_node, and teleop_node -->
<launch>
    <arg name="serial_port" default="/dev/ttyACM0"/>
    <arg name="joy_device" default="/dev/input/js1"/>

    <rosparam command="load" file="$(find goat_launch)/params/teleop_ps4.yaml"/>

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" required="true" output="screen">
        <param name="port" value="$(arg serial_port)"/>
    </node>

    <node name="joy_node" pkg="joy" type="joy_node" required="true" output="screen">
        <param name="dev" value="$(arg joy_device)"/>
    </node>

    <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node" required="true" output="screen">
        <remap from="cmd_vel" to="teleop/cmd_vel"/>
    </node>
</launch>
